<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>ジオフェンシングは、常にあなたの位置情報へのアクセスを必要とします。</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>このアプリは、現在地を表示するためにあなたの位置情報を使用します。</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
</dict>
</plist>
